@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,400&display=swap');


#kindle-app{
    width: 36em;
    height: 42em;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 2em;
    background-color: #f9ead7;
    border-radius: 31px;
    font-family: 'Open Sans', sans-serif;
    
}

#frame{
    box-sizing: border-box;
    background-image: url(kindle.png);
    background-repeat: no-repeat;
    height: 773px;
    background-size: cover;
    background-position: center;
    margin-top: -1.3em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 5em;

}


#header{
    text-align: center;
}


#default-text{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 
}





#vocabulary{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 4em;
    width: 18em;
    height: 400px;
    overflow: auto;
    z-index: 1;
    font-weight: bold;
  
}
#vocabulary::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#vocabulary::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#vocabulary::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 2px solid #555555;
}





#checkedResults{
    display: flex;
    height: 30px;
    justify-content: space-between;
    flex-direction: column;
    width: 18em;
}

#checkedResults > span{
    height: 14%;
    width: 40%;
}


#header-counter{
    display: flex;
    height: 20px;
    font-weight: bold;
    justify-content: flex-end;
    
}


#header-counter{
    width: 23em;
}





